<html lang="en">
    <head>
        <title>Video Game Gallery</title>
        <link rel="stylesheet" type="text/css" href="./styles.css">
    </head>
    <body>
        <main class="main-content">
            <h1>Video Game Gallery</h1>
        </main>
    </body>
</html>